# Homework: Data visualization and exploration with Pandas

Author: Alexandre Gramfort

### Data:

MovieLens 1M Data Set contain les grades given to movies by users on the Movielens website.

The data are available at:

https://dl.dropboxusercontent.com/u/2140486/data/ml-1m.zip

and come from:

http://grouplens.org/datasets/movielens/

### Import necessary packages

In [1]:
import pandas as pd
import numpy as np

### Load the "users" data as Pandas DataFrame

In [2]:
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_table('ml-1m/users.dat', sep='::', header=None, names=unames, engine='python')

In [9]:
users.head() #默认输出前5条记录
type(users)
users.size

30200

### Read the "rating"

In [7]:
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('ml-1m/ratings.dat', sep='::', header=None, names=rnames, engine='python')

In [11]:
ratings.head(10)
ratings.size

4000836

### Read the movies

In [12]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('ml-1m/movies.dat', sep='::', header=None, names=mnames, engine='python')

In [13]:
movies.head(10)

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

### Let's merge everything as a single DataFrame

In [14]:
data = pd.merge(pd.merge(ratings, users), movies)

In [15]:
data.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama

# Let's explore the data

### Question 1

How many movies have a grade higher than 4.5 ?
Is there a difference between Male or Females?

### Question 2

How many movies have a median grade higher than 4,5 among the men older than 30 years? And among the women older than 30?

### Question 3a

What are the most popular movies?

Hint: use the `DataFrame.nlargest` method.

### Question 3b

What are the most popular movies among the movies that have at least 30 grades?

### Question 3c

Quel est  le film le plus souvent noté par les utilisateurs?

# Data Visualization

In [ ]:
%matplotlib inline

### Question 4

Show the histogram of the ratings.

### Question 5

Show the histogram of the number of grades obtained for each movie.

### Question 6

Show the histogram of the mean grade for each movie.

Does the distribution of the grade depend on the gender of the user?

### Question 7

Show the histogram of grades among the movies that have been graded at least 30 times.

### Question 8

Show as "scatter plot" the mean grades for the men vs the grades of the women.

Now restrict the plot to the movies with at least 100 grades.

### Question Bonus

Make nice data visualization to highligh a specific effect in the data.